#!/bin/bash
#
# Tripwire check script
# Fabrizio Colonna <colofabrix@tin.it> - 17/02/2016
#

DBFILE="$(sed -nre 's/^\s*DBFILE\s*=\s*(.*)$/\1/p' {{ tripwire_config_dir }}/twcfg.txt)"
DBFILE="$(echo "$DBFILE" | sed -re "s/\\$\(HOSTNAME\)/$(hostname)/")"

if [ -e "$DBFILE" ] ; then
    if [ -f /sbin/tripwire ] ; then
        /sbin/tripwire --check -M
        if [ $? -ne 0 ] ; then
            logger -p "user.error"  -t "$(basename $0)" "Error running tripwire. Check the report."
        fi
    else
        logger -p "user.error"  -t "$(basename $0)" "Error Can't find tripwire executable /sbin/tripwire "
    fi
else
    logger -p "user.error"  -t "$(basename $0)" "Error Tripwire database for $DBFILE not found"
fi
