ROOT                   = {{ tw_twcfg_root }}
POLFILE                = {{ tw_twcfg_polfile }}
DBFILE                 = {{ tw_twcfg_dbfile }}
REPORTFILE             = {{ tw_twcfg_reportfile }}
SITEKEYFILE            = {{ tw_twcfg_sitekeyfile }}
LOCALKEYFILE           = {{ tw_twcfg_localkeyfile }}
EDITOR                 = {{ tw_twcfg_editor }}
LATEPROMPTING          = {{ tw_twcfg_lateprompting }}
LOOSEDIRECTORYCHECKING = {{ tw_twcfg_loosedirectorychecking }}
MAILNOVIOLATIONS       = {{ tw_twcfg_mailnoviolations }}
EMAILREPORTLEVEL       = {{ tw_twcfg_emailreportlevel }}
REPORTLEVEL            = {{ tw_twcfg_reportlevel }}
MAILMETHOD             = {{ tw_twcfg_mailmethod }}
SYSLOGREPORTING        = {{ tw_twcfg_syslogreporting }}
MAILPROGRAM            = {{ tw_twcfg_mailprogram }}
GLOBALEMAIL            = {{ tw_twcfg_globalemail }}